.btn-outline-secondary.active,.btn-outline-secondary:active{
    background-color: rgb(0, 76, 255) !important;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus{
    background-color:inherit !important;
    color: rgb(128, 128, 128) !important;

}
.btn-outline-secondary.active:hover,.btn-outline-secondary:active:hover{
    background-color: rgb(0, 76, 255) !important;
    color: white !important;
}
.terminal-screen,.terminal-screen-2{
    width: 70vw;
}
@media (max-width: 768px) {
    .order-screen-container{
     display: none;
    }
    .terminal-screen,.terminal-screen-2{
        width: 100vw;
    }
   
   }